In [1]:
import pandas as pd

In [2]:
df = pd.read_csv(r"C:\Users\My Pc\Downloads\bangalore_ride_dataset_100k_4STATUS_FIXED.csv")

In [3]:
df.head()

,Date,Time,Booking_ID,Booking_Status,Customer_ID,Vehicle_Type,Pickup_Location,Drop_Location,V_TAT,C_TAT,...,Customer_Cancel_Reason,Canceled_Rides_by_Driver,Driver_Cancel_Reason,Incomplete_Rides,Incomplete_Rides_Reason,Booking_Value,Payment_Method,Ride_Distance,Driver_Ratings,Customer_Rating
0,2024-07-06,23:58,CNR4712120009,Success,CID000001,Prime Sedan,Yeshwanthpur,Kasturi Nagar,12.4,7.0,...,NaN,No,NaN,No,NaN,357,Cash,7.0,4.0,3.0
1,2024-07-12,14:27,CNR7735821099,Success,CID000002,Prime Plus,KR Puram,BTM Layout,12.9,9.8,...,NaN,No,NaN,No,NaN,166,UPI,23.0,4.5,4.0
2,2024-07-13,00:02,CNR2777400163,Success,CID000003,Prime Plus,Indiranagar,Ulsoor,5.9,4.0,...,NaN,No,NaN,No,NaN,482,Cash,20.0,3.5,4.0
3,2024-07-09,09:30,CNR4026564402,Success,CID000004,Mini,Majestic,Shivajinagar,6.0,13.2,...,NaN,No,NaN,No,NaN,239,UPI,12.0,4.5,5.0
4,2024-07-10,10:03,CNR1998143690,Incomplete,CID000005,Prime Sedan,Frazer Town,Bommanahalli,10.4,2.4,...,NaN,No,NaN,Yes,NaN,539,Cash,5.0,5.0,4.0

In [4]:
df["Time"] = df["Time"].astype(str).str.strip()
df["Time"] = pd.to_datetime(df["Time"], errors="coerce").dt.time
df.head()

C:\Users\My Pc\AppData\Local\Temp\ipykernel_5764\3802451803.py:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df["Time"] = pd.to_datetime(df["Time"], errors="coerce").dt.time

,Date,Time,Booking_ID,Booking_Status,Customer_ID,Vehicle_Type,Pickup_Location,Drop_Location,V_TAT,C_TAT,...,Customer_Cancel_Reason,Canceled_Rides_by_Driver,Driver_Cancel_Reason,Incomplete_Rides,Incomplete_Rides_Reason,Booking_Value,Payment_Method,Ride_Distance,Driver_Ratings,Customer_Rating
0,2024-07-06,23:58:00,CNR4712120009,Success,CID000001,Prime Sedan,Yeshwanthpur,Kasturi Nagar,12.4,7.0,...,NaN,No,NaN,No,NaN,357,Cash,7.0,4.0,3.0
1,2024-07-12,14:27:00,CNR7735821099,Success,CID000002,Prime Plus,KR Puram,BTM Layout,12.9,9.8,...,NaN,No,NaN,No,NaN,166,UPI,23.0,4.5,4.0
2,2024-07-13,00:02:00,CNR2777400163,Success,CID000003,Prime Plus,Indiranagar,Ulsoor,5.9,4.0,...,NaN,No,NaN,No,NaN,482,Cash,20.0,3.5,4.0
3,2024-07-09,09:30:00,CNR4026564402,Success,CID000004,Mini,Majestic,Shivajinagar,6.0,13.2,...,NaN,No,NaN,No,NaN,239,UPI,12.0,4.5,5.0
4,2024-07-10,10:03:00,CNR1998143690,Incomplete,CID000005,Prime Sedan,Frazer Town,Bommanahalli,10.4,2.4,...,NaN,No,NaN,Yes,NaN,539,Cash,5.0,5.0,4.0

In [5]:
df.columns = df.columns.str.strip().str.lower().str.replace(" ", "_").str.replace(r"[^\w]", "_", regex=True)
df.columns

Index(['date', 'time', 'booking_id', 'booking_status', 'customer_id',
       'vehicle_type', 'pickup_location', 'drop_location', 'v_tat', 'c_tat',
       'canceled_rides_by_customer', 'customer_cancel_reason',
       'canceled_rides_by_driver', 'driver_cancel_reason', 'incomplete_rides',
       'incomplete_rides_reason', 'booking_value', 'payment_method',
       'ride_distance', 'driver_ratings', 'customer_rating'],
      dtype='object')

In [6]:
import numpy as np
df = df.replace({"NA": np.nan, "": np.nan})

In [7]:
df.isnull().sum()

date                              0
time                              0
booking_id                        0
booking_status                    0
customer_id                       0
vehicle_type                      0
pickup_location                   0
drop_location                     0
v_tat                         38000
c_tat                         38000
canceled_rides_by_customer        0
customer_cancel_reason        93000
canceled_rides_by_driver          0
driver_cancel_reason          82000
incomplete_rides                  0
incomplete_rides_reason       95000
booking_value                     0
payment_method                38000
ride_distance                 38000
driver_ratings                38000
customer_rating               38000
dtype: int64

In [8]:
df.head()

,date,time,booking_id,booking_status,customer_id,vehicle_type,pickup_location,drop_location,v_tat,c_tat,...,customer_cancel_reason,canceled_rides_by_driver,driver_cancel_reason,incomplete_rides,incomplete_rides_reason,booking_value,payment_method,ride_distance,driver_ratings,customer_rating
0,2024-07-06,23:58:00,CNR4712120009,Success,CID000001,Prime Sedan,Yeshwanthpur,Kasturi Nagar,12.4,7.0,...,NaN,No,NaN,No,NaN,357,Cash,7.0,4.0,3.0
1,2024-07-12,14:27:00,CNR7735821099,Success,CID000002,Prime Plus,KR Puram,BTM Layout,12.9,9.8,...,NaN,No,NaN,No,NaN,166,UPI,23.0,4.5,4.0
2,2024-07-13,00:02:00,CNR2777400163,Success,CID000003,Prime Plus,Indiranagar,Ulsoor,5.9,4.0,...,NaN,No,NaN,No,NaN,482,Cash,20.0,3.5,4.0
3,2024-07-09,09:30:00,CNR4026564402,Success,CID000004,Mini,Majestic,Shivajinagar,6.0,13.2,...,NaN,No,NaN,No,NaN,239,UPI,12.0,4.5,5.0
4,2024-07-10,10:03:00,CNR1998143690,Incomplete,CID000005,Prime Sedan,Frazer Town,Bommanahalli,10.4,2.4,...,NaN,No,NaN,Yes,NaN,539,Cash,5.0,5.0,4.0

In [9]:
df["order_value_slab"] = pd.cut(
    df["booking_value"],
    bins=[0, 500, 1000, 10000],
    labels=["Low", "Medium", "High"],
    right=False
)

In [10]:
df.head()

,date,time,booking_id,booking_status,customer_id,vehicle_type,pickup_location,drop_location,v_tat,c_tat,...,canceled_rides_by_driver,driver_cancel_reason,incomplete_rides,incomplete_rides_reason,booking_value,payment_method,ride_distance,driver_ratings,customer_rating,order_value_slab
0,2024-07-06,23:58:00,CNR4712120009,Success,CID000001,Prime Sedan,Yeshwanthpur,Kasturi Nagar,12.4,7.0,...,No,NaN,No,NaN,357,Cash,7.0,4.0,3.0,Low
1,2024-07-12,14:27:00,CNR7735821099,Success,CID000002,Prime Plus,KR Puram,BTM Layout,12.9,9.8,...,No,NaN,No,NaN,166,UPI,23.0,4.5,4.0,Low
2,2024-07-13,00:02:00,CNR2777400163,Success,CID000003,Prime Plus,Indiranagar,Ulsoor,5.9,4.0,...,No,NaN,No,NaN,482,Cash,20.0,3.5,4.0,Low
3,2024-07-09,09:30:00,CNR4026564402,Success,CID000004,Mini,Majestic,Shivajinagar,6.0,13.2,...,No,NaN,No,NaN,239,UPI,12.0,4.5,5.0,Low
4,2024-07-10,10:03:00,CNR1998143690,Incomplete,CID000005,Prime Sedan,Frazer Town,Bommanahalli,10.4,2.4,...,No,NaN,Yes,NaN,539,Cash,5.0,5.0,4.0,Medium

In [11]:
median = df.loc[df["booking_status"] == "Success", "customer_rating"].median()
df.loc[(df["booking_status"] == "Success") & df["customer_rating"].isna(),
       "customer_rating"] = median

In [12]:
df.isnull().sum()

date                              0
time                              0
booking_id                        0
booking_status                    0
customer_id                       0
vehicle_type                      0
pickup_location                   0
drop_location                     0
v_tat                         38000
c_tat                         38000
canceled_rides_by_customer        0
customer_cancel_reason        93000
canceled_rides_by_driver          0
driver_cancel_reason          82000
incomplete_rides                  0
incomplete_rides_reason       95000
booking_value                     0
payment_method                38000
ride_distance                 38000
driver_ratings                38000
customer_rating               11446
order_value_slab                  0
dtype: int64

In [13]:
driver_median = df.loc[df["booking_status"] == "Success", "driver_ratings"].median()
df.loc[
    (df["booking_status"] == "Success") & df["driver_ratings"].isna(),
    "driver_ratings"
] = driver_median

In [14]:
df.isnull().sum()

date                              0
time                              0
booking_id                        0
booking_status                    0
customer_id                       0
vehicle_type                      0
pickup_location                   0
drop_location                     0
v_tat                         38000
c_tat                         38000
canceled_rides_by_customer        0
customer_cancel_reason        93000
canceled_rides_by_driver          0
driver_cancel_reason          82000
incomplete_rides                  0
incomplete_rides_reason       95000
booking_value                     0
payment_method                38000
ride_distance                 38000
driver_ratings                11446
customer_rating               11446
order_value_slab                  0
dtype: int64

In [15]:
df.duplicated().sum()

np.int64(0)

In [16]:
df["time"].dtype

dtype('O')

In [19]:
df.to_csv(r"C:\Users\My Pc\Downloads\cleaned_ride_data.csv", index=False)